In [97]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [98]:
#https://github.com/MushroomObserver/mushroom-observer/blob/main/README_API.md#csv-files
#downloaded observations, locations, and classifications
#created regions
#Combination of EXCEL and SQL to clean/sort/organize into new spreadsheet: mushquery.csv

Import SQL query resultset : mushquery.csv

Kingdom = Fungi

Date range >= 1990-01-01

Country = USA

In [117]:
df = pd.read_csv('../data/mushquery.csv')
#df.info()
df.head()

,id,name_id,date,location_id,lat,long,name_id-2,domain,kingdom,phylum,class,order,family,state,region
0,488305,63622,1990-03-10,1436,999.0,999.0,63622,Eukarya,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Galeropsidaceae,OR,WEST
1,518156,3683,1990-06-21,24157,999.0,999.0,3683,Eukarya,Fungi,Ascomycota,Leotiomycetes,Pezizales,Sarcoscyphaceae,MN,MIDWEST
2,518163,3599,1990-06-28,24157,999.0,999.0,3599,Eukarya,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Physalacriaceae,MN,MIDWEST
3,448480,281,1990-07-04,24157,999.0,999.0,281,Eukarya,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Crepidotaceae,MN,MIDWEST
4,31341,43745,1990-07-15,789,999.0,999.0,43745,Eukarya,Fungi,Basidiomycota,Agaricomycetes,Agaricales,Amanitaceae,OH,MIDWEST

In [118]:
#fix date, from obj to date
df['date']=pd.to_datetime(df['date'])

#Separate out into decades
df_90s = df[df['date'].between('1990-01-01', '1999-12-31')]
#df_90s

In [119]:
df_2000s = df[df['date'].between('2000-01-01', '2009-12-31')]
#df_2000s

In [120]:
df_2010s = df[df['date'].between('2010-01-01', '2019-12-31')]
#df_2010s

Total number of observations per decade?

In [121]:
df_90s['id'].count()

675

In [122]:
df_2000s['id'].count()

21453

In [123]:
df_2010s['id'].count()

195993

Which states have the highest count of mushrooms/ per decade?

In [124]:
df_90s[['kingdom','state']].value_counts()
#Minnesota, California, Pennsylvania, Ohio, Conneticut

kingdom  state
Fungi    MN             212
         CA             168
         PA              83
         OH              37
         CT              28
         WV              23
         MI              14
         NC              13
         AZ              10
         AK               9
         LA               9
         NM               8
         NY               8
         IL               7
         TX               7
         OR               5
         WI               4
         AR               4
         WA               4
         FL               4
         CO               3
         Puerto Rico      3
         ME               2
         TN               2
         MO               2
         MS               1
         NH               1
         ND               1
         MD               1
         KS               1
         WY               1
dtype: int64

In [125]:
df_2000s[['kingdom','state']].value_counts()
#California, Oregon, Ohio,Pennsylvania,West Virginia

kingdom  state
Fungi    CA               10795
         OR                2143
         OH                1195
         PA                 905
         WV                 772
         WA                 649
         NC                 532
         NJ                 360
         LA                 350
         MO                 350
         NY                 345
         GA                 336
         MA                 265
         WI                 238
         VA                 173
         MD                 152
         MT                 145
         NH                 140
         TN                 133
         FL                 133
         CT                 126
         TX                 118
         NM                 106
         AL                  95
         MN                  87
         IL                  87
         ID                  87
         HI                  86
         SC                  73
         CO                  57
         MI                  49
         VT                  42
         WY                  39
         AK                  39
         IN                  38
         MS                  37
         UT                  35
         KY                  29
         AZ                  28
         ME                  20
         OK                  12
         RI                  12
         Puerto Rico         11
         KS                  11
         AR                   9
         IA                   4
         Washington Dc        2
         NV                   1
         NE                   1
         SD                   1
dtype: int64

In [126]:
df_2010s[['kingdom','state']].value_counts()
#California, Pennsylvania,Washington, Oregon, Georgia

kingdom  state
Fungi    CA                42320
         PA                18236
         WA                15019
         OR                10575
         GA                 8549
         MI                 8022
         OH                 7480
         VA                 7344
         FL                 6594
         MO                 6049
         WI                 5796
         NC                 5568
         TX                 4769
         NY                 4369
         TN                 3991
         NH                 3595
         IN                 3155
         CT                 2879
         MD                 2738
         AR                 2442
         ME                 2302
         NJ                 2164
         MA                 2085
         IL                 1944
         LA                 1570
         AZ                 1560
         AK                 1367
         WV                 1314
         CO                 1313
         MN                 1167
         Puerto Rico        1137
         AL                 1124
         UT                  960
         MS                  809
         ID                  702
         KY                  666
         VT                  634
         MT                  621
         NM                  601
         HI                  467
         SC                  449
         RI                  307
         IA                  217
         SD                  191
         WY                  167
         DE                  148
         OK                  140
         KS                  124
         Washington Dc       113
         NV                   94
         NE                   28
         ND                   12
         Virgin Islands        4
         Chicago               2
dtype: int64

What are the top five most popular mushrooms per Region?

In [127]:
df_90s[['family','region']].value_counts().head()

family        region
Unknown       MIDWEST      35
Boletaceae    NORTHEAST    29
Amanitaceae   WEST         19
Polyporaceae  MIDWEST      17
Agaricaceae   WEST         17
dtype: int64

In [128]:
df_2000s[['family','region']].value_counts().head()

family       region
Russulaceae  WEST      997
Amanitaceae  WEST      948
Boletaceae   WEST      742
Unknown      WEST      714
Agaricaceae  WEST      613
dtype: int64

In [129]:
df_2010s[['family','region']].value_counts().head()

family       region
Unknown      SOUTH     5272
             WEST      5011
Amanitaceae  SOUTH     4632
Boletaceae   SOUTH     3987
Amanitaceae  WEST      3876
dtype: int64

In [130]:
#TEST - use a small date range to figure out
df_test=df[df['date'].between('2020-01-01', '2020-12-31')]
#df_test.info()
#count specific type of mushroom per state
df_test[['family','state']].value_counts()

family           state
Unknown          CA       304
Polyporaceae     MI       264
Psathyrellaceae  CA       221
Boletaceae       VA       213
Unknown          AR       210
                         ...
Leotiaceae       IN         1
                 FL         1
                 CA         1
Lentariaceae     WA         1
Xylariaceae      WV         1
Length: 3063, dtype: int64

In [60]:
#df['family'].value_counts - use normalize to see how frequent each value appears compared to the whole series, shows as percentage
#df_test['family'].value_counts(normalize=True)

In [131]:
#count most popular mushroom (family) by region for only the year 2020, to see if it matches SQL query
#IT DOES! it didn't match exactly at first because of the unknown's and becuase of the order (had family, state, region)
df_test[['state','region','family']].value_counts().head(20)

state  region     family
CA     WEST       Unknown            304
MI     MIDWEST    Polyporaceae       264
CA     WEST       Psathyrellaceae    221
VA     SOUTH      Boletaceae         213
AR     SOUTH      Unknown            210
MI     MIDWEST    Unknown            210
PA     NORTHEAST  Unknown            202
IN     MIDWEST    Unknown            197
WA     WEST       Unknown            191
MI     MIDWEST    Boletaceae         183
TX     SOUTH      Unknown            181
FL     SOUTH      Unknown            166
WI     MIDWEST    Unknown            165
GA     SOUTH      Unknown            147
MI     MIDWEST    Amanitaceae        145
                  Entolomataceae     142
NC     SOUTH      Amanitaceae        137
CA     WEST       Cortinariaceae     133
PA     NORTHEAST  Boletaceae         128
NJ     NORTHEAST  Boletaceae         125
dtype: int64